

.card{
    width: 200px;
    margin: 10px 20px;
    margin-top: 25px;
}

body {
    /* background-color: #282c34; */
    color: black;
    padding: 40px;
    font-family: Arial;
    text-align: center;
    text-align: center;
  }

.navbar-brand{
    font-size: 90%;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.row1{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
   
}